.formControl{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    background-color: #1E1E1E;
}

.chat{
    margin: 0 auto;
    width: 50%;
}

.message{
    color: white;
}

body{
    background-color: #121212;
}
