{% load static %}
<!DOCTYPE html>

<html lang="ru", lang="en">
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DeChat</title>
</head>
<body>
  <div class="chat">
  <form method="post">
      {% csrf_token %}
    {{ form.title }}
    <button type="submit", class="button">➤</button>
  </form>

  {% for el in impyt %}
      <p class="message">{{ el.title }}</p>
   {% endfor %}  
   </div>
</body>


</html>